<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src={{ url_for('static',filename='scripts.js')}}></script>
  </head>
  <body>
      <p id="X"></p>
      <p id="Y"></p>
      <img src="cam.mjpg"/>    
      <br />
      <button data-dir=1 data-axis="Y">up</button>
      <button data-dir=-1 data-axis="Y">down</button>
      <button data-dir=1 data-axis="X">left</button>
      <button data-dir=-1 data-axis="X">right</button>
      <input type="text" id="angle" value=50>angle in degree</input>
      <br />
      <input type=RADIO name="mode" value="Auto" onclick="mode_change(this.value);" >Auto(Face Tracking)</input>
      <input type=RADIO name="mode" checked=True value="Manual" onclick="mode_change(this.value);" >Manual(Jog)</input>
  </body>
  </html>
